---
import {
  NAVIGATION_LINKS,
  SOCIAL_LINKS,
  OTHER_LINKS,
  SITE,
} from "@/lib/config";
import Hashtag from "@/assets/svgs/hashtag.astro";
import Icon from "../bases/icon.astro";
import ThemedLogo from "@/components/bases/themed-logo.astro";
---

<footer
  class="footer border-primary-content/80 dark:border-primary-content/20 border-t py-6"
>
  <div class="container">
    <div class="flex flex-col gap-4">
      <aside class="flex items-center gap-2">
        <!-- <Hashtag /> -->
        <a href="/"><ThemedLogo class="h-10 w-auto md:h-10" /></a>
        <!-- <img src={SITE.logo} alt="Logo" class="h-10 w-auto" /> -->
        <p>
          <!-- <strong class="text-lg">Beyond the Fog Gate</strong> -->
          <br />
          <!-- A news website built with <a
            class="underline"
            href="https://astro.build"
            target="_blank">Astro</a
          >. -->
        </p>
      </aside>
      <nav
        class="flex flex-col gap-4 text-base font-semibold lg:flex-row lg:flex-wrap lg:text-sm"
      >
        <a href="/" class="link link-hover">Home</a>
        <a href="/articles" class="link link-hover">Latest</a>
        {
          NAVIGATION_LINKS.map(({ href, text, target }) => (
            <a href={href} class="link link-hover" target={target ?? "_self"}>
              {text}
            </a>
          ))
        }
      </nav>
    </div>
    <div class="divider h-1 w-full"></div>
    <div class="flex flex-col gap-4">
      <nav>
        <div class="flex gap-4">
          <!-- <p class="font-bold">Social Media:</p> -->
          <ul class="flex flex-wrap gap-4">
            {
              SOCIAL_LINKS.map(({ href, icon, text, target }) => (
                <li>
                  <a
                    href={href}
                    class="link link-hover"
                    target={target ?? "_blank"}
                    title={text}
                    aria-label={text}
                  >
                    <Icon icon={icon} />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </nav>
      <nav class="mt-2 flex flex-wrap gap-4 text-xs">
        {
          OTHER_LINKS.map(({ href, text, target }) => (
            <a href={href} class="link link-hover" target={target ?? "_self"}>
              {text}
            </a>
          ))
        }
      </nav>
      <p class="text-xs">
        © 2025 Beyond the Fog Gate, Inc. All rights reserved. No part of this
        website or its content may be reproduced without the copyright owner's
        permission.
      </p>
    </div>
  </div>
</footer>
