---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = {
  author: CollectionEntry<"authors">;
};

const { author } = Astro.props;
---

<li class="group relative isolate mx-auto w-full">
  <Image
    class="aspect-square w-7xl max-w-full rounded-md object-cover grayscale filter group-hover:grayscale-0"
    src={author.data.avatar}
    alt={author.data.name}
    layout="constrained"
    loading={"lazy"}
    width={320}
    height={320}
  />
  <div class="mt-2 flex flex-col gap-0.5">
    <h3 class="text-base font-semibold group-hover:underline">
      <a href={`/authors/${author.id}`}>
        <span class="pointer-events-none absolute inset-0 z-10"></span>
        {author.data.name}
      </a>
    </h3>
    <p class="text-primary dark:text-secondary text-sm">{author.data.job}</p>
  </div>
</li>
