---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Divider from "@/components/bases/divider.astro";
import { render } from "astro:content";
import { getDateDistance, normalizeDate } from "@/lib/utils/date";
import { categoriesHandler } from "@/lib/handlers/categories";

type Props = {
  article: CollectionEntry<"articles">;
  isFirst?: boolean;
  isLast?: boolean;
};
const { article, isLast, isFirst } = Astro.props;

const { remarkPluginFrontmatter } = await render(article);
const category = categoriesHandler.oneCategory(article.data.category.id);
---

<article
  class:list={[
    "group group relative isolate flex items-start gap-2 py-2",
    isFirst ? "pt-0" : "pt-2",
    isLast ? "border-b-0 pb-0" : "border-base-300 border-b",
  ]}
>
  <div class="flex flex-1 flex-col">
    <div class="mb-1 flex gap-2">
      <div class="flex-1">
        <h3 class="mb-1 text-base lg:group-hover:underline">
          <a href={`/articles/${article.id}`}>
            <span class="pointer-events-none absolute inset-0 z-10"></span>
            {article.data.title}
          </a>
        </h3>
        <!-- <p
          class="text-sm text-base-content/80 text-balance md:line-clamp-2 lg:line-clamp-3"
        >
          {article.data.description}
        </p> -->
      </div>
    </div>
    <div class="text-base-content/80 mb-2 flex text-xs lg:mt-auto">
      <!-- <span class="text-primary dark:text-secondary">{category.data.title}</span
      >
      <Divider /> -->
      <!-- This is last modified date -->
      <!-- <span>{getDateDistance(remarkPluginFrontmatter.lastModified)}</span> -->
      <!-- This is published time -->
      <span>{getDateDistance(normalizeDate(article.data.publishedTime))}</span>
    </div>
  </div>

  <div class="h-[125px] w-[165px] shrink-0 overflow-hidden md:h-full md:w-40">
    <Image
      src={article.data.cover}
      alt={article.data.covert_alt
        ? article.data.covert_alt
        : article.data.title}
      loading="eager"
      widths={[120, 320]}
      layout="constrained"
      class="h-full w-full rounded object-cover"
    />
  </div>
</article>
