---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getDateDistance, normalizeDate } from "@/lib/utils/date";
import Divider from "../bases/divider.astro";
import { authorsHandler } from "@/lib/handlers/authors";

type Props = {
  article: CollectionEntry<"articles">;
  isLast: boolean;
};

const { article, isLast } = Astro.props;
const authors = authorsHandler.getAuthors(article.data.authors);
---

<li
  class="group relative isolate mx-auto flex w-full max-w-md flex-col gap-4 lg:max-w-full lg:flex-row"
>
  <div
    class:list={[
      "flex flex-1 flex-col gap-4 pb-2 lg:flex-row-reverse lg:pb-4",
      isLast ? "border-b-0" : "border-base-300 border-b",
    ]}
  >
    <div class="flex-1 space-y-2">
      <h3 class="text-xl font-semibold lg:group-hover:underline">
        <a href={`/articles/${article.id}`}>
          <span class="absolute inset-0 z-10"></span>
          {article.data.title}
        </a>
      </h3>
      <p class="text-base-content/80 max-w-xl text-pretty">
        {article.data.description}
      </p>
      <div class="flex flex-wrap items-center gap-1">
        <span class="text-xs">By</span>
        {
          authors.map((author, index) => (
            <div class="flex items-center gap-1">
              <a
                href={`/authors/${author.id}`}
                class="relative z-20 flex items-center gap-1"
              >
                {/* <div class="avatar">
                  <div class="w-6 rounded-full">
                    <Image
                      src={author.data.avatar}
                      alt={author.data.name}
                      width={48}
                      height={48}
                      loading={"eager"}
                      format="webp"
                      layout="constrained"
                      quality={80}
                    />
                  </div>
                </div> */}
                {/* <span class="">By</span> */}
                <span class="text-xs font-semibold">
                  {author.data.name}
                  {index < authors.length - 1 && ","}
                </span>
              </a>
            </div>
          ))
        }
        <p class="text-xs">
          — Published {
            getDateDistance(normalizeDate(article.data.publishedTime))
          }
        </p>
      </div>
    </div>
    <div class="aspect-video w-full pr-5 lg:w-60">
      <Image
        src={article.data.cover}
        alt={article.data.covert_alt
          ? article.data.covert_alt
          : article.data.title}
        layout="constrained"
        loading={"eager"}
        class="aspect-video h-full w-full rounded"
      />
    </div>
    <!-- Rendering date and category for small screens is currently disabled -->
    <!-- <div class="text-sm lg:hidden flex item-center text-base-content/70 pt-2">
      <time
        class="flex items-center gap-1"
        datetime={normalizeDate(article.data.publishedTime)}
      >
        <span>
          {getDateDistance(normalizeDate(article.data.publishedTime))}
        </span>
      </time>
      <Divider />
      <small class="flex items-center gap-1">
        <span class="capitalize text-sm">
          {article.data.category.id}
        </span>
      </small>
    </div> -->
  </div>
</li>
