---
import type { GetStaticPaths } from "astro";
import { SITE } from "@/lib/config";
import { articlesHandler } from "@/lib/handlers/articles";
import { authorsHandler } from "@/lib/handlers/authors";
import ListLayout from "@/layouts/list.astro";
import WideCard from "@/components/cards/wideCard.astro";
import Pagination from "@/components/shared/pagination.astro";
import { getEntry } from "astro:content";
import { Image, Picture } from "astro:assets";

export const getStaticPaths = (({ paginate }) => {
  const allAuthors = authorsHandler.allAuthors();
  const allArticles = articlesHandler.allArticles();

  return allAuthors.flatMap((author) => {
    const filteredArticles = allArticles.filter((article) =>
      article.data.authors.map((a) => a.id).includes(author.id),
    );
    return paginate(filteredArticles, {
      params: { id: author.id },
      pageSize: SITE.postsPerPage,
    });
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const params = Astro.params;
const articles = page.data;
const pathname = new URL(Astro.request.url).pathname.split("/");
const basePath = `${pathname[1]}/${pathname[2]}`;

const entry = await getEntry("views", "author");
const author = authorsHandler.findAuthor(params.id);

if (!entry) {
  return Astro.redirect("/404");
}

const [HEADER] = entry.data.blocks;
console.log(author);
---

<ListLayout
  header={`${author.data.name}'s ${HEADER.title}`}
  entry={{
    ...entry,
    data: {
      ...entry.data,
      title: `${author.data.name}'s ${entry.data.title}`,
    },
  }}
>
  <!-- Author background cover image isn't live yet -->
  <!-- <section>
  <div
    class="container px-0 max-w-5xl lg:mt-4 overflow-hidden aspect-[20/9] lg:rounded-md"
  >
  <Picture
      src={author.data.cover}
      alt={author.data.name}
      layout="full-width"
      loading={"eager"}
      formats={["avif", "webp"]}
      class="w-full h-full object-center"
    />
    </div>
</section> -->
  <!-- /Author background cover image isn't live yet -->
  <section>
    <div class="mb-8 flex items-center gap-4">
      <div class="w-16 overflow-hidden rounded-full">
        <Image
          src={author.data.avatar}
          alt={author.data.name}
          width={64}
          height={64}
          loading={"eager"}
        />
      </div>
      <div>
        <h2 class="text-2xl font-bold">{author.data.name}</h2>
        <p class="text-base-content/70">{author.data.bio}</p>
      </div>
    </div>
  </section>
  <section class="flex-1">
    <ul class="flex flex-col gap-4">
      {
        articles.map((article) => (
          <WideCard
            article={article}
            isLast={articles.lastIndexOf(article) === articles.length - 1}
          />
        ))
      }
    </ul>
  </section>

  <Pagination
    length={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    baseUrl={`/${basePath}`}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    lastUrl={`/${basePath}/${page.lastPage}`}
  />
</ListLayout>
