---
import Github from "@/assets/svgs/github.astro";
import Search01 from "@/assets/svgs/search-01.astro";
import MenuDropdown from "./menu-dropdown.astro";
import { SITE } from "@/lib/config";
import ThemeController from "../bases/theme-controller.astro";
import ThemedLogo from "../bases/themed-logo.astro";
---

<div
  class="navbar border-primary-content/80 dark:border-primary-content/20 border-b"
>
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a
      class="flex items-center gap-2 px-2 text-xl text-nowrap lg:hidden"
      href="/"
    >
      <ThemedLogo class="h-12 w-auto" />
      <!-- <img src={SITE.logo} alt="Logo" width="32" height="32" />
      {SITE.title} -->
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <a href="/"><ThemedLogo class="h-18 w-auto p-2" /></a>
    <!-- <img src={SITE.logo} alt="Logo" class="h-18 w-auto p-2" /> -->
    <!-- <a class="px-2 text-xl" href="/">{SITE.title}</a> -->
  </div>
  <div class="navbar-end">
    <a class="btn btn-ghost btn-circle" href="/search" aria-label="Search">
      <Search01 />
    </a>
    <ThemeController />
    <!-- <a
      class="btn btn-ghost btn-circle"
      href={SITE.github}
      target="_blank"
      aria-label="GitHub"
    >
      <Github />
    </a> -->
  </div>
</div>
